body{
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    background-color: #3a4965;
}

table{
    margin: auto;
}

td{
    text-align: center;
    vertical-align: middle;
}

.choose-plan-top{
    background-color: white;
}

.choose-plan,
.choose-plan-top{
    width: 200px;
}

.header-row{
    height: 110px;
}

.product{
    width: 160px;
    font-size: 24px;
}

.offer-row{
    height: 165px;
}

.offer{
    width: 155px;
    font-size: 16px;
    border-bottom: 2px solid #dadada;
    box-shadow: 0 -1px  0 #dadada inset;
}

.product{
    border-bottom: 2px solid #dadada;
    box-shadow: 0 -1px  0 #dadada inset;
}

.background-color:nth-of-type(2n){
    background-color: #e3e3e3;
}

.background-color:nth-of-type(2n+1){
    background-color: #f2f2f2;
}

.logo{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    width: 150px;
}

.logo-span{
    font-size: 14px;
}

h2{
    display: inline-block;
    width: 145px;
}

.product:nth-of-type(3n+4) h2{
    width: 100px;
}

.choose-plan{
    color: #ffffff;
}

.green-bg{
    background-color: #89c331;
}

.red-bg{
    background-color: #f04a56;
}

.d-green-bg{
    background-color: #20807c;
}

.plan-name{
    font-size: 24px;
    font-weight: 700;
}

.plan-price{
    position: relative;
    text-align: left;
    margin: 23px 0 23px 25px;

    font-weight: 700;
    font-size: 36px;
}

.plan-price:before{
    position: absolute;
    content: '.99';
    font-size: 18px;
    left: 40px;
    top: 4px;
}

.plan-price:after {
    position: absolute;
    content: 'per Month';
    font-size: 14px;
    font-weight: 400;
    top: 13px;
    left: 70px;
}

input{
    box-sizing: border-box;
    width: 145px;
    height: 40px;
    border: none;
    padding-top: 10px;
    border-radius: 5px;
    border-bottom: 5px solid transparent;

    text-transform: uppercase;
    color: white;
    font-size: 16px;

    background-color: #414141;
}



p{
    display: inline-block;
    width: 100px;
}

input:hover{
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.offer:nth-of-type(3n+4) p{
    width: 55px;
}