body{
    color: #ffffff;
    font-family: "Verdana", sans-serif;
    font-size: 18px;
}

.container{
    width: 1365px;
    margin: 0 auto;
    background-image: url("../img/Backgorund.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.shadow{
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.case{
    margin: 0 150px;
}

header{
    height: 45px;
    margin-bottom: 50px ;
}

.logo-link{
    color: #ffffff;
}

.top-logo{
    display: inline-block;
    float: left;
    background-image: url("../img/MilanLogo.png");
    background-repeat: no-repeat;
    height: 46px;
    width: 0;
}

.top-logo-text{
    padding-left: 60px;
    width: 50px;
    font-weight: 700;
}

.top-logo-text>span{
    font-size: 29px;
}

.top-contacts{
    display: inline-block;
    float: right;
    width: 250px;
    text-align: right;
}

.offer{
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    margin-bottom: 60px;
    font-size: 18px;
}

h2{
    line-height: 3;
}

.offer-img{
    position: relative;
    border: 1px solid #ffffff;
    width: 307px;
    height: 200px;
    box-shadow: 1px 20px 10px black;
}

.shopping-tours{
    float: left;
}

.sightseeing-tours{
    margin: 0 68px;
    float: left;
}

.food-tours{
    float: right;
}

.bars-and-nightlife{
    float: left;
}

.art-and-architecture{
    margin: 0 68px;
    float: left;
}

.walking-tours{
    float: right;
}

.shopping-tours-bg{
    background-image: url("../img/shopping.png");
}

.sightseeing-tours-bg{
    background-image: url("../img/sightseeing.png");
}

.food-tours-bg{
    background-image: url("../img/food.png");
}

.bars-and-nightlife-bg{
    background-image: url("../img/barsnightlife.png");
}

.art-and-architecture-bg{
    background-image: url("../img/artarchitecture.png");
}

.walking-tours-bg{
    background-image: url("../img/walking.png");
}

.details-bar{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 267px;
    background: #f26522;
    padding: 16px 20px;
}

.cost{
    padding-top: 10px;
    display: inline-block;
    float: left;
    font-size: 20px;
}

.cost:before{
    content: '€';
}

.cost:after{
    position: absolute;
    content: 'from';
    left: 20px;
    top: 15px;
    font-size: 10px;
}

.view-details{
    text-align: right;
    padding-top: 15px;
    font-size: 14px;
}

.view-details:after{
    content: ' >';
    font-size: 10px;
}

.offer:hover .details-bar{
    display: inline-block;
}

.offer:hover{
    color: #f26522;
}

.offer:hover .details-bar{
    color: #ffffff;
}


footer{
    text-align: center;
    font-size: 12px;
}

.logo-link:hover,
.top-logo:hover
{
    color: #f26522;
    background-image: url("../img/MilanLogoOrange.png");
    background-repeat: no-repeat;
}


.clear-fix::after{
    content: '';
    display: block;
    clear: both;
}