body{
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    background-color: #3a4965;
}

table{
    margin: 10px auto;
    background-color: #ffffff;
}

td{
    text-align: center;
    vertical-align: middle;
}

.fas,
.far{
    font-size: 18px;
    padding-right: 5px;
}

.basic-row{
    height: 70px;
}


.explain-column{
    width: 310px;
}

.basic-column{
    width: 280px;
}

.basic-row:nth-of-type(2n+3){
    background-color: #f2f2f2;
}

.basic-row:nth-of-type(2n){
    background-color: #e3e3e3
}

.second-row{
    height: 85px;
}

.last-row{
    height: 110px;
}

.logo-text{
}

h1{
    display: inline-block;
    width: 215px;
    font-size: 30px;
    font-weight: 600;
}

.logo-span{
    font-size: 18px;
}

.second-row .basic-column:nth-child(n){
    position: relative;
}

tr:nth-child(n+3){
    font-size: 13px;
}

.first-row .basic-column:nth-child(2){
     background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
 }

.first-row .basic-column:nth-child(3){
    background-color: #f04a56;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.first-row .basic-column:nth-child(4){
    background-color: #20807c;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
}

.price{
    position: absolute;
    font-size: 60px;
    top: 15px;
    left: 30px;
    font-weight: 600;
}

.price:before{
    position: absolute;
    content: ".99";
    font-size: 24px;
    left: 100px;
    top: 5px
}
.price:after{
    content: 'per month';
    font-size: 18px;
    font-weight: 400;
}

input{
    width: 190px;
    height: 50px;
    padding-top: 10px;

    border: 0;
    border-radius: 5px;
    border-bottom: 7px solid transparent;

    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
}

.input-contact-us{
    background-color: #484848;
}

.input-standard{
    background-color: #89c331;
}

.input-ultimate{
    background-color: #f04a56;
}

.input-premium{
    background-color: #20807c;
}

.first-column{
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    box-shadow: 2px 0 2px 0 #dadada;
}

.second-column{
    border-right: 1px solid #dadada;
    box-shadow: 2px 0 2px 0 #dadada;
}

.third-column{
    border-left: 1px solid #dadada;
}

input:hover{
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
}