

body{
    font-family:'Open Sans', sans-serif;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #1d2124;
}

.header-logo{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #171a1c;
    background-image: url("../img/architect-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.header-logo:after{
    position: absolute;
    content: "Architect";
    left: 75px;
    top: 25px;
    color: white;
    font-size: 22px;
}

.header-menu-flex{
    list-style: none;
    display: flex;
    width: 700px;
    margin-top: 30px;
    font-weight: 600;
    justify-content: space-between;
}

.header-search{
    width: 70px;
    height: 70px;
    background-color: #171a1c;
    background-image: url("../img/search-icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

.header-menu-item{
    text-transform: uppercase;
    font-size: 15px;
}

.header-menu-item-link{
    text-decoration: none;
    color: #ffffff;
}

.falling-list-parent{
    margin-top: 30px;
    width: 100px;
}

.falling-list-parent:hover .falling-list-item{
    display: block;
}

.falling-list-item{
    display: none;
    margin-top: 10px;
    background-color: black;
    color: #FFFFFF;
}

.parallax{
    background-image: url("../img/header-bg.jpeg");
    height: 390px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.news-offer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.flex-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    height: 120px;
}

.parallax-headline{
    font-size: 27px;
}

.flex-for-buttons{
    display: flex;
    width: 360px;
    justify-content: space-between;
}

.button-settings{
    box-sizing: border-box;
    width: 170px;
    height: 55px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.sub-button{
    background-color: #89ca62;
}

.article-button{
    background-color: #14b9d5;
}

.most-pop-bg-color{
    background-color: #f2f2f2;
    padding-bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-headline{
    display:block;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    color: #18b4cf;
}

.most-popular{
    display: flex;
    width: 1170px;
    justify-content: space-between;
    justify-self: center;

}

.popular-post{
    width: 370px;
    margin-bottom: 30px;
}

.post-img{
    display: block;
}

.post-descript{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    width: 310px;
    padding: 20px 30px;
    text-align: center;
    background-color: white;
}

.grid-section{
    display: grid;
}

.bot-parallax{
    background-image: url("../img/bot-parallax-bg.jpeg");
    height: 590px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.on-parallax-content{
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.pop-clients{
    position: relative;
    font-size: 32px;
    color: white;
    padding-top: 200px;
    text-transform: uppercase;
    font-weight: 700;
    overflow: visible;
}

.pop-clients:after{
    position: absolute;
    content: "";
    width: 60px;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 3px solid #169cb4;
}

.pop-clients-logo{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    grid-template-columns: 207px 135px 172px 141px;
    grid-template-rows: 52px;
    column-gap: 75px;
}

.bg-dryme {
    width: 135px; height: 49px;
    background: url("../img/pop-clients-sprites.png") -10px -120px;
}

.bg-house_home {
    width: 172px; height: 42px;
    background: url("../img/pop-clients-sprites.png") -10px -58px;
}

.bg-jorney {
    width: 141px; height: 52px;
    background: url("../img/pop-clients-sprites.png") -10px -189px;
}

.bg-national_post {
    width: 207px; height: 28px;
    background: url("../img/pop-clients-sprites.png") -10px -10px;
}

.horiz-gallery{
    display: grid;
    height: 190px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 50px;
}

.horiz-gallery-item{
    width: 100%;
}

.hide-section{
    height: 50px;
    width: 200px;
    background-color: magenta;
    font-size: 25px;
    font-weight: 700;
}

.hide-section>a{
    text-decoration: none;
}

.hot-news-section{
    display: grid;
}

.bot-gallery{
    display: grid;
    justify-items: center;
    justify-self: center;
    width: 1170px;
    grid-template-columns: 1fr;
    grid-template-rows: 260px 420px 420px 260px;
    grid-row-gap: 45px;
}

.bot-gallery>div>div{
    background-color: #f9f7f7;
}


.bot-gallery-row-1{
    display: grid;
    justify-content: center;
    grid-template-columns: 855px 280px;
    grid-column-gap: 35px;
}

.bot-gallery-row-4{
    display: grid;
    justify-content: center;
    grid-template-columns: 280px 855px;
    grid-column-gap: 35px;
}

.bot-gallery-row-2,
.bot-gallery-row-3{
    display: grid;
    justify-content: center;
    grid-template-columns: 555px 555px;
    grid-column-gap: 60px;
}

.cell-1-1{
    display: grid;
    grid-template-columns: 483px 375px;

}

.cell-1-2{
    display: grid;
    grid-template-columns: 277px;
    grid-template-rows: 210px 50px;
}

.cell-2-1{
    display: grid;
    grid-template-rows: 260px 160px;
    grid-template-columns: 555px;
}


.cell-2-2{
    display: grid;
    grid-template-rows: 260px 160px;
}

.cell-3-1{
    display: grid;
    grid-template-rows: 260px 160px;
}

.cell-3-2{
    display: grid;
    grid-template-rows: 260px 160px;
}
.cell-4-1{
    display: grid;
    grid-template-columns: 277px;
    grid-template-rows: 210px 50px;
}

.cell-4-2{
    display: grid;
    grid-template-columns: 483px 375px;
}

.bot-gallery-text-else{
    text-align: right;
    padding: 40px 50px 0 30px;
    color: #7b8185;
}

.bot-gallery-text{
    text-align: right;
    padding: 20px 25px 0 25px;
    color: #7b8185;
}

.bot-gallery-headline{
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 20px;
    color: #333333;
}

.bot-gallery-single-img-headline{
    text-align: center;
    padding-top: 13px;
    font-weight: 700;
    font-size: 18px;
}

.bot-gallery-p{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}

.grid-footer{
    display: grid;
    height: 80px;
    margin-top: 70px;
    background-color: #1d2124;
    grid-template-columns: 50% 50%;
    color: white;
}

.footer-copyright{
    font-size: 13px;
    text-align: right;
    margin-right: 80px;
    margin-top: 35px;
}

.footer-logo{
    position: relative;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.footer-logo:before{
    position: absolute;
    content: "";
    justify-self: center;
    background-image: url("../img/lioit-logo.png");
    background-repeat: no-repeat;
    transform: translate(-100%, 10%);
    width: 38px;
    height: 24px;
}

.scroll-up{
    display: none;
    position: fixed;
    height: 40px;
    width: 40px;
    bottom: 100px;
    left: 50px;
    background-color: #3cb878;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    padding: 20px;
}

.scroll-up>a{
    color: #FFFFFF;
}