
.show-us-the-winner{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    width: 100%;
    height: 100vh;
}

.start-the-torture{
    font-size: 50px;
    font-weight: 700;
    margin: 50px 0;
    padding: 50px;
    background-color: #16a085;
    color: #FFFFFF;
}


.winners-name{
    font-size: 100px;
    font-weight: 700;
    text-align: center;
}

.button-case{
    margin-top: 50px;
    display: none;
    justify-content: space-between;
    width: 90vw;
}

.basic-button{
    font-size: 25px;
    font-weight: 700;
}

.student-is-not-in-the-class{
    background-color: #f8fcfe;
    color: black;
}

.student-is-here{
    background-color: black;
    color: #FFFFFF;
}

/*.list-of-students{*/
/*    margin-top: 50px;*/
/*    float : right;*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    background-color: #00cbf6;*/
/*    color: #FFFFFF;*/
/*}*/