td{
    width: 10px;
    height: 10px;
}

.ogTable>tr>.og{
    background-color: white;
    border: 1px solid #00cbf6;
}

.ogTable>tr>.notOg{
    background-color: black;
    border: 1px solid #0b2e13;
}

.notOgTable>tr>.og{
    background-color: black;
    border: 1px solid #0b2e13;
}

.notOgTable>tr>.notOg{
    background-color: white;
    border: 1px solid #00cbf6;;
}