.play-field{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: #3cb878;
}

.field-item{
    border: 1px solid black;
}

.event-text{
    color: red;
    font-size: 30px;
    font-weight: 700;
}