body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.menu{
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 35px;
}

.menu-button{
    text-decoration: none;
    color: #16a085;
    padding: 35px;
    font-weight: bold;
}

.main-content {
    text-align: center;
    background-color: #f5f6f7;
}

.Headline{
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 35px;
    padding-top: 55px;
}

.main-p{
    margin-left: 110px;
    margin-right: 110px;
    padding-bottom: 35px;
    font-weight: bold;
}

.start-button{
    text-transform: uppercase;
    margin-bottom: 95px;
    padding: 20px 45px;
    border: none;
    color: #ffffff;
    background-color: #16a085;
}

.footer-p{
    margin: 45px;
    text-align: right;
    margin-right: 100px;
    font-weight: bold;
}