body{
    font-family: sans-serif;
}

.color-changer{
    display: inline-block;
    float: right;
    width: 200px;
    background-color: #3cb878;
    font-weight: 700;
    color: white;
    border-radius: 50px;
    text-align: center;
    padding: 50px;
}

.container{
    width: 1280px;
    margin: 60px auto;
}

.logo-text{
    color: #4bcaff;
    font-size: 80px;
    text-decoration: none;
}

.logo-text-black{
    color: #333333;
}

.top-menu{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 50px 0;
    /*padding: 25px 0;*/
    background-color: #35444f;
}

.top-menu-item{
    display: inline-block;
    padding: 25px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}

.side-bar{
    display: inline-block;
    list-style-type: none;
    border:  1px solid black;
    width: 350px;
}

.side-bar-item{
    padding: 30px 0 30px 45px;
    font-size: 30px;
}

.side-bar-link{
    text-decoration: none;
    color: #495863;
}

.main-content{
    display: inline-block;
    float: right;
    width: 885px;
    margin-bottom: 50px;

}

.ramda-logo-img-case{
    /*padding: 75px 285px;*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 885px;
    height: 530px;
    border: 1px solid #333333;
}

.main-text{
    margin: 30px;
    font-size: 18px;
}

.footer-menu{
    display: block;
    padding: 20px 40px;
    background-color: #b4b7ba;
}

.footer-menu-item{
    text-decoration: none;
    padding-right: 25px;
    font-size: 24px;
    color: #333333;
}

.copyright-text{
    display: inline-block;
    margin-left: 200px;
    font-size: 24px;
}

.top-menu-item:hover{
    background-color: #222f3a;
    padding: 25px 19px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.ramda-logo-img:hover{
    transform: scale(1.3);
    transition: 1s;
}

.side-bar-item:hover{
    padding: 30px 0 30px 70px;;
    background-color: #dbdbdb;
}

.footer-menu-item:hover{
    color: #3181a6;
    text-decoration: underline;
}

.clear-fix::after{
    content: '';
    display: block;
    clear: both;
}
