body{
    position: relative;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.logo{
    float: left;
    display: inline-block;
    font-family: 'Fira Mono', sans-serif;
    margin-left: 80px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.top-option-text{
    float: right;
    margin: 20px 75px 0 0;
    padding: 3px 0 0 25px;
    font-size: 14px;
    word-spacing: 2px;
    border-left: 1px solid #302e30;
}

.bg-calendar {
    display: inline-block;
    position: absolute;
    width: 19px;
    height: 19px;
    right: 412px;
    top: 20px;
    background: url(../img/header_sprites.png) -10px -10px;
}

.bg-compas {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 320px;
    top: 20px;
    background: url(../img/header_sprites.png) -10px -49px;
}

.bg-messaging {
    display: inline-block;
    position: absolute;
    width: 28px;
    height: 20px;
    right: 360px;
    top: 20px;
    background: url(../img/header_sprites.png) -10px -89px;
}

.registration-form {
    display: inline-block;
    position: fixed;
    box-sizing: border-box;

    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 23px));

    padding: 30px 60px;
    width: 446px;
    height: 586px;

    background-color: white;
    border-radius: 10px;
}

.registration-form:before{
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #3cb878;
}

.form-header{
    margin-bottom: 15px;
}

.sign-up-text{
    display: inline-block;
    font-size: 20px;
}

.log-in-link{
    float: right;
}

.form-link{
    font-size: 14px;
    text-decoration: none;
    color: #3cb878;
}

.social-sing-up{
    display: inline-block;
    box-sizing: border-box;
    width: 160px;
    height: 45px;

    border-radius: 5px;

    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    text-align: right;
    padding: 10px 0;

    margin-bottom: 30px;
}

.social-logo-text-fb{
    display: inline-block;
    padding: 5px 20px 5px 20px;
    border-left: 1px solid #2b54a5;
}

.facebook{
    float: left;
    background-color: #305db8;
}

.social-logo-text-google{
    display: inline-block;
    padding: 5px 20px 5px 20px;
    border-left: 1px solid #c8422d;
}

.google{
    float: right;
    background-color: #df4a32;
}

.bg-fb {
    display: inline-block;
    float: left;
    margin-top: 2.5px;
    margin-left: 20px;
    width: 10px; height: 20px;
    background: url(../img/social-sprites.png) -10px -46px;
}

.bg-google {
    display: inline-block;
    float: left;
    margin-top: 2.5px;
    margin-left: 20px;
    width: 25px; height: 20px;
    background: url(../img/social-sprites.png) -10px -7px;
}

.registration-field{
    padding-top: 15px;
    border-top: 1px solid  #eaeaea;
}

.registration-field:before{
    position: absolute;
    display: inline-block;
    content: 'or';
    font-size: 14px;
    color: #8c8c8c;
    padding: 0 20px;
    background-color: #ffffff;
    top: 132px;
    left: 50%;
    transform: translateX(-50%);
}

.input-settings{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin: 10px 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 20px;
}

input::placeholder{
    color: #c2c2c2;
    /*padding-left: 20px;*/
}

.check{
    margin-top: 20px;
}

.label-check{
    font-size: 14px;
}

.creat-button{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin: 30px 0;
    border: none;
    border-radius: 5px;
    background-color: #3cb878;
    font-size: 16px;
    color: #ffffff;
}

.form-link:hover{
    text-decoration: underline;
}

.facebook:hover{
    background-color: #264b96;
}

.google:hover{
    background-color: #c3412c;
}

.creat-button:hover{
    background-color: #329a65;
}

.input-settings:focus{
    box-shadow: 0 3px 5px 0 #dbdbdb;
    outline:none;
}

.logo:hover{
    color: #3cb878;
}

.bg-calendar:hover {
    width: 19px; height: 19px;
    background: url(../img/green-header-sprites.png) -10px -10px;
}


.bg-compas:hover {
    width: 20px; height: 20px;
    background: url(../img/green-header-sprites.png) -10px -49px;
}


.bg-messaging:hover{
    width: 28px; height: 20px;
    background: url(../img/green-header-sprites.png) -10px -89px;
}

.clear-fix::after{
    content: '';
    display: block;
    clear: both;
}
