body{
    font-family: sans-serif;
}

.top-navigation{
    position: relative;
    background-color: #FFFFFF;
    display: none
}

.drop-down{
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 182px;
    right: 0;
    top: 37px;
    z-index: 1000;
}

.nav-links{
    display: block;
    font-size: 12px;
    padding: 10px 13px 9px;
    color: #202529;
    border-bottom: 1px solid rgb(118, 118, 118);
}

.nav-links:hover{
    background-color: #f5f5f5;
}

.top-navigation-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 37px;
    background-color: #373c3f;
}

.top-navigation-text{
    color: white;
    font-size: 13px;
    margin: 11px 0 12px 19px;
}

.top-navigation-menu{
    box-sizing: border-box;
    width: 40px;
    height:100%;
    padding: 13px 0 0 13px;
    background-color: #202529;
}

.top-navigation-menu:before,
.top-navigation-menu:after,
.top-navigation-menu div {
    background-color: #fff;
    content: '';
    display: block;
    height: 2px;
    margin-bottom: 2px;
    width: 16px;
    transition: all .2s ease-in-out;
}

.top-navigation-menu-active:before {
    transform: translateY(5px) rotate(135deg);
}

.top-navigation-menu-active:after {
    transform: translateY(-3px) rotate(-135deg);
}

.top-navigation-menu-active div {
    transform: scale(0);
}

.top-logo{
    display: none;
}

.presentation{
    box-sizing: border-box;
    background: no-repeat url("../img/main-top-bg.png");
    background-size: cover;
    width: 100%;
    height: 173px;
    padding: 14px 22px;
}

.presentation-text{
    font-size: 15px;
    line-height: 1.5;
    color: #FFFFFF;
}

.presentation-link{
    display: block;
    font-size: 14px;
    color: #a6d6e0;
    margin-top: 7px;
}

.offer-section{
    display: grid;
    margin-top: 4px;
    width: 100%;
    grid-template-rows: repeat(3, 74px);
    grid-gap: 2px;
}

.offer-section-item{
    display: grid;
    grid-template-columns: 78% 22%;
    height: 75px;
    width: 100%;
}

.offer-section-item-type{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.offer-section-text{
    font-size: 20px;
    color: #FFFFFF;
}

.pizza-bg{
    background: bottom no-repeat url("../img/Pizza delivery fon copy.png");
    background-size: cover;
}

.salads-bg{
    background: bottom no-repeat url("../img/UA_UX Salads fon copy.png");
    background-size: cover;
}

.desserts-bg{
    background: top no-repeat url("../img/Desserts fon copy.png");
    background-size: cover;
}

.offer-section-item-goto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #acd8ad;
}

.go-to-icon{
    content: ' ';
    width: 6px;
    height: 6px;
    border-bottom: 1.5px solid white;
    border-right: 1.5px solid white;
    transform: translate(-3px  ,-3px) rotate(-45deg);
}

.before-menu-section{
    padding: 25px 0 0 8px;
}

.before-menu-title{
    text-transform: uppercase;
    word-spacing: 0.01em;
    white-space: nowrap;
    font-size: 19px;
}

.before-menu-text{
    margin-top: 4px;
    font-size: 10px;
    color: #d5d6d8;
}

.menu-logo{
display: none;
}

.menu-section{
    margin-top: 11px;
}

.menu-header{
    text-transform: uppercase;
    padding: 10px 0 9px 18px;
    font-size: 18px;
}



.black-green{
    background-color: #3f4043;
    color: #acd8ad;
}

.green-white{
    background-color: #acd8ad;
    color: #fff;
}

.menu-item-section{
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 32px;
}

.big-menu{
margin-bottom: 4px;
}

.small-menu>.menu-title-wraper{
    margin-bottom: 18px;
}

.menu-title-wraper{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 16px;
}

.menu-title{
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    margin-top: 8px;
}

.cost{
    font-weight: 700;
}

.glass-icon{
    transform: translate( -7px, 3px);
}

.cup-icon{
    transform: translate( 3px, 0px);
    box-sizing: border-box;
    padding: 3px;
}

.beer-icon{
    transform: translate( -4px, 2px);
    box-sizing: border-box;
    padding: 3px;
}

.menu-title-icon{
    height: 25px;
}

.menu-item-info-wrap{
    display: flex;
    justify-content: space-between;
    margin: 11px 0 9px 0;
    font-size: 13px;
}

.menu-item-name{
    display: inline-block;
}

.menu-item-descr{
    font-size: 9px;
}

.pizza-footer{
    width: 100%;
    background-color: #acd8ad;
    margin-top: 50px;
    font-size: 13px;
    text-align: center;
    padding: 12px 0 13px 0;
    color: #fff
}

.bot-logo{
    display: none;
}

.pizza-footer-main-text{
    margin-bottom: 5px
}



@media (min-width: 640px) {
    
    .drop-down{
        width: 243px;
        top: 74px;
    }

    .nav-links{
        font-size: 14px;
        padding: 15px 18px 15px;
    }
    
    .top-navigation-bar{
        height: 74px;
    }
    
    .top-navigation-text{
        font-size: 26px;
        margin: 22px 0 24px 38px;
    }
    
    .top-navigation-menu{
        width: 80px;
        padding: 26px 0 0 26px;
    }
    
    .top-navigation-menu:before,
    .top-navigation-menu:after,
    .top-navigation-menu div {
        height: 4px;
        margin-bottom: 4px;
        width: 32px;
    }
    
    .top-navigation-menu-active:before {
        transform: translateY(10px) rotate(135deg);
    }
    
    .top-navigation-menu-active:after {
        transform: translateY(-6px) rotate(-135deg);
    }

    .top-logo{
        display: none;
    }
    
    
    .presentation{
        height: 345px;
        padding: 30px 38px;
    }

    .presentation-text{
        font-size: 30px;
    }
    
    .presentation-link{
        font-size: 24px;
        margin-top: 14px;
    }
    
    .offer-section{
        margin-top: 10px;
        grid-template-rows: repeat(3, 150px);
        grid-gap: 4px;
    }
    
    .offer-section-item{
        height: 150px;
    }
    
    .offer-section-text{
        font-size: 36px;
    }
    
    .go-to-icon{
        width: 12px;
        height: 12px;
        border-bottom: 3px solid white;
        border-right: 3px solid white;
        transform: translate(-6px  ,-6px) rotate(-45deg);
    }
    
    .before-menu-section{
        padding: 40px 0 0 20px;
    }
    
    .before-menu-title{
        font-size: 37px;
    }
    
    .before-menu-text{
        margin-top: 10px;
        font-size: 20px;
    }
    
    .menu-section{
        margin-top: 22px;
    }
    
    .menu-header{
        padding: 20px 0 18px 36px;
        font-size: 36px;
    }
    
    .menu-item-section{
        padding: 0 36px;
        margin-bottom: 64px;
    }
    
    .big-menu{
    margin-bottom: 8px;
    }
    
    .small-menu>.menu-title-wraper{
        margin-bottom: 36px;
    }
    
    .menu-title-wraper{
        margin: 20px 0 36px;
    }
    
    .menu-title{
        font-size: 28px;
        margin-top: 16px;
    }

    .menu-title-icon{
        height:48px;
    }
    
    .glass-icon{
        transform: translate( -14px, 6px);
    }
    
    .cup-icon{
        transform: translate( 6px, 0px);
        padding: 0;
    }
    
    .beer-icon{
        transform: translate( -8px, 4px);
        padding: 0;
    }

    .menu-item-info-wrap{
        margin: 22px 0 18px 0;
        font-size:26px;
    }
    
    .menu-item-descr{
        font-size: 18px;
    }
    
    .pizza-footer{
        margin-top: 100px;
        font-size: 26px;
        padding: 24px 0 26px 0;
    }
    
    .pizza-footer-main-text{
        margin-bottom: 10px
    }
}

@media (min-width: 980px) {

    .top-navigation{
        display: flex;
        width: 67%;
        height: 100%;
        margin-left: 30px;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
    }
    
    .nav-links{
        display: inline-block;
        font-size: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
        border-bottom: none;
    }
    
    .nav-links:hover{
        background-color: transparent
    }
    
    .top-navigation-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 97px;
    }
    
    .top-navigation-text{
        display: none
    }
    
    .top-navigation-menu{
        display: none;
    }

    .top-logo{
        display: block;
        width: 104px;
        height: 83px;
        margin-right: 30px
    }
    
    .presentation{
        height: 570px;
        padding: 64px 30px;
    }
    
    .presentation-text{
        font-size: 54px;
    }
    
    .presentation-link{
        font-size: 34px;
        margin-top: 57px;
    }
    
    .offer-section{
        display: grid;
        margin-top: 6px;
        width: 100%;
        height: 327px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 0;
    }
    
    .offer-section-item{
        display: block;
        height: 100%;
        width: 100%;
    }
    
    .offer-section-item-type{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .offer-section-text{
        font-size: 20px;
    }
    
    .offer-section-item-goto{
        display: none;
    }
    
    .before-menu-section{
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 50px 30px 0 30px;
    }
    
    .before-menu-title{
        text-transform: uppercase;
        font-size: 30px;
    }
    
    .before-menu-text{
        margin-top: 8px;
        font-size: 18px;
    }

    .before-menu-text-wrap{
        padding: 20px;
    }

    .menu-logo{
        display: block;
    }

    .grid-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

    .menu-section{
        margin-top: 21px;
    }
    
    .menu-header{
        text-transform: uppercase;
        padding: 20px 18px;
        font-size: 32px;
    }
    
    .menu-item-section{
        display: flex;
        flex-direction: column;
        padding: 0 18px;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 32px;
    }
    
    .big-menu{
    margin-bottom: 4px;
    }
    
    .small-menu>.menu-title-wraper{
        margin-bottom: 18px;
    }
    
    .menu-title-wraper{
        display: flex;
        justify-content: space-between;
        margin: 30px 0 16px;
    }
    
    .menu-title{
        text-transform: uppercase;
        display: inline-block;
        font-size: 24px;
        margin-top: 8px;
    }
    
    .glass-icon{
        transform: translate( -14px);
    }
    
    .cup-icon{
        transform: translate( 6px);
    }
    
    .beer-icon{
        transform: translate( -8px);
    }
    
    .menu-title-icon{
        height: 42px;
    }
    
    .menu-item-info-wrap{
        display: flex;
        justify-content: space-between;
        margin: 28px 0 17px 0;
        font-size: 22px;

    }
    
    .menu-item-name{
        display: inline-block;
    }
    
    .menu-item-descr{
        font-size: 15px;
    }
    
    .pizza-footer{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        width: 100%;
        background-color: #acd8ad;
        margin-top: 50px;
        font-size: 18px;
        text-align: center;
        padding: 12px 30px;
        color: #fff
    }
    
    .bot-logo{
        display: block;
        width: 104px;
        height: 83px;
    }

    .footer-text-flex{
        display: flex;
        align-items: center; 
    }

    .pizza-footer-main-text{
        margin-bottom: 0
    }

}

@media (min-width: 1200px) {

    .top-navigation{
        margin-left: 40px;
    }

    .top-logo{
        margin-right: 40px
    }
    
    .presentation{
        height: 650px;
        padding: 58px 37px;
    }
    
    .presentation-text{
        font-size: 62px;
    }
    
    .presentation-link{
        font-size: 38px;
    }
    
    .offer-section{
        height: 400px;
    }
    
    .offer-section-text{
        font-size: 43px;
    }
    
    .before-menu-section{
        padding: 55px 22px 0 22px;
    }
    
    .before-menu-text{
        font-size: 14px;
    }

    .before-menu-text-wrap{
        padding: 25px;
    }

    .menu-section{
        margin-top: 16px;
    }
    
    .menu-header{
        padding: 23px 18px;
    }
    
    .menu-item-section{
        padding: 0 23px;
        margin-bottom: 32px;
    }
    
    .big-menu{
    margin-bottom: 45px;
    }
    
    .small-menu>.menu-title-wraper{
        margin-bottom: 43px;
    }
    
    .menu-title-wraper{
        margin: 43px 0 16px;
    }
    
    .menu-title{
        font-size: 24px;
    }
    
    .glass-icon{
        transform: translate( -18px);
    }
    
    .cup-icon{
        transform: translate( 8px);
    }
    
    .beer-icon{
        transform: translate( -10px);
    }
    
    .menu-title-icon{
        height: 50px;
    }
    
    .menu-item-info-wrap{
        margin: 48px 0 16px 0;
        font-size: 27px;
    }
    
    .menu-item-descr{
        font-size: 17px;
    }
    
    .pizza-footer{
        margin-top: 130px;
        padding: 12px 40px;
    }

    .pizza-footer-main-text{
        margin-bottom: 0
    }

}